.navbar-inverse {
    background-color: wheat;
    border-color: #080808;
}
#container{
    text-align: center;
    background-color: wheat;
    border-color: #080808;
    margin-top: -20px;
    width: 750px;
}
