#orderPageBackGroundColor{
    background-color: black;
}
.container{
    margin: auto;
    text-align: center;
    width: 80%; height: 50%;
    background-color: wheat;
    -moz-border-radius: 100px 0px;
    -webkit-border-radius: 100px 0px;
    border-radius: 100px 0px;
}
.image{
    width: 100%;
}
.processPageStyle{
    /*background-color: black;*/
}
#container{
    width: 750px;
    margin: auto;
    border: 2px solid green;
    border-radius: 25px;
    text-align: center;
    background-color: wheat;
}
.warning{
    font-size: 25px;
    color: red;
    text-decoration: solid;
}
h1{
    text-decoration: underline;
}
h3{
    color: green;
}
#myBar{
    color: green;
    font-size: 30px;
}
/*Altered the margin*/
.navbar-nav {
    margin: 7.5px 80px;
}
.navbar-default {
    background-color: greenyellow;
    border-color: greenyellow;
}
.btn {
    display: inline-block;
    padding: 6px 12px;
    margin-top: 10px;
    margin-bottom: 0px;
    font-size: 14px;
    font-weight: normal;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
}
.table {

    margin-top: 40px;
    width: 90%;
    max-width: 100%;
    margin-bottom: 20px;
    margin-left: 40px;
}
.table-bordered {
    border: 1px solid black;
}
.backImage{
    background-image: url("/../site/images/firstImage.jpg");
    background-repeat: repeat;
}
